<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button v-on:click="openForm">Open Form</button>
      <h1>{{"Nilai A : " + total}}</h1>
      <h1>{{"Rata-rata : " + rata}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          a: 0,
          rata: 0,
          jumlah: new Array(),
          total: 0,
        },

        methods: {
          openForm: function () {
            for (var i = 0; i < 10; i += this.a) {
              this.a = Number(prompt('Masukan Nilai A'));
              this.jumlah.push(this.a);
            }
            for (let hit in this.jumlah) {
              this.total += this.jumlah[hit];
            }
            this.rata = this.total / this.jumlah.length;
          },
        },
      });
    </script>
  </body>
</html>
