<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      img {
        width: 100px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div v-if="errors.length>0">
        <h5>Error :</h5>
        <ul>
          <li v-for="(error,index) in errors" :key="index">{{error}}</li>
        </ul>
      </div>
      <form @submit.prevent="submitForm()">
        <table>
          <tr>
            <td>Nama</td>
            <td>
              <input
                type="text"
                :disabled="statusButton =='upload'"
                v-model="form.name"
                ref="name"
              />
            </td>
          </tr>
          <tr>
            <td>Address</td>
            <td>
              <input
                type="text"
                :disabled="statusButton =='upload'"
                v-model="form.address"
                ref="address"
              />
            </td>
          </tr>
          <tr>
            <td>No Hp</td>
            <td>
              <input
                type="text"
                :disabled="statusButton =='upload'"
                v-model="form.noHp"
                ref="nohp"
              />
            </td>
          </tr>
          <tr v-if="statusButton == 'submit'">
            <td><button type="submit">Submit</button></td>
          </tr>
        </table>
        <div v-if="statusButton == 'upload'">
          <input type="file" name="photo" ref="photo" />
          <button @click="submitPhoto()">Upload</button>
          <button @click="cancel">Cancel</button>
        </div>
        <div v-else-if="statusButton == 'edit'">
          <input type="button" value="update" @click="updateData(form.id)" />
          <input type="button" value="cancel" @click="cancel()" />
        </div>
      </form>

      <table border="1">
        <thead>
          <tr>
            <td>foto</td>
            <td>Nama</td>
            <td>Alamat</td>
            <td>No Hp</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(member,index) in members" :key="index">
            <td>
              <img
                v-if="member.photo_profile != null"
                :src="url+member.photo_profile"
              />
              <img v-else src="https://dummyimage.com/600x400/000/fff" />
            </td>
            <td>{{member.name}}</td>
            <td>{{member.address}}</td>
            <td>{{member.no_hp}}</td>
            <td>
              <button @click="uploadPhoto(member)">Upload Photo</button>
              <button @click="deleteData(member.id)">Hapus</button>
              <button @click="editData(member)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          url: 'http://demo-api-vue.sanbercloud.com',
          form: { id: '', name: '', address: '', noHp: '' },
          members: [],
          errors: [],
          statusButton: 'submit',
        },

        created() {
          this.getDatas();
        },
        methods: {
          clearForm: function () {
            (this.form.name = ''),
              (this.form.address = ''),
              (this.form.noHp = '');
          },
          submitForm: function () {
            this.validateForm();
            if (this.errors.length == 0) {
              let formData = new FormData();
              formData.append('name', this.form.name);
              formData.append('address', this.form.address);
              formData.append('no_hp', this.form.noHp);

              const config = {
                method: 'post',
                url: 'http://demo-api-vue.sanbercloud.com/api/member',
                data: formData,
              };

              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getDatas();
                  console.log(response);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          validateForm: function () {
            this.errors = [];
            if (this.form.name.length < 5) {
              this.errors.push('Name minimal 5 karakter');
              this.$refs.name.focus();
            }
            if (this.form.address.length < 5) {
              this.errors.push('Adress tidak boleh lebig dari 10 karakter');
              this.$refs.address.focus();
            }
            if (this.form.noHp.length < 5) {
              this.errors.push(
                'phone number tidak boleh lebih dari 10 karakter'
              );
              this.$refs.nohp.focus();
            }
          },
          getDatas: function () {
            const config = {
              method: 'get',
              url: 'http://demo-api-vue.sanbercloud.com/api/member',
            };
            axios(config)
              .then((response) => {
                console.log(response);
                this.members = response.data.members;
              })
              .catch((error) => {
                console.log(error);
              });
          },
          deleteData: function (id) {
            const config = {
              method: 'post',
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params: { _method: 'DELETE' },
            };
            axios(config)
              .then((response) => {
                this.getDatas();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
            console.log(id);
          },
          editData: function (dataForm) {
            this.form.id = dataForm.id;
            this.form.name = dataForm.name;
            this.form.address = dataForm.address;
            this.form.noHp = dataForm.no_hp;
            this.statusButton = 'edit';
          },
          updateData: function (id) {
            this.validateForm();
            if (this.errors.length == 0) {
              let formData = new FormData();
              formData.append('name', this.form.name);
              formData.append('address', this.form.address);
              formData.append('no_hp', this.form.noHp);

              const config = {
                method: 'post',
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params: { _method: 'PUT' },
                data: formData,
              };

              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getDatas();
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          uploadPhoto: function (member) {
            this.statusButton = 'upload';
            this.form.id = member.id;
            this.form.name = member.name;
            this.form.address = member.address;
            this.form.noHp = member.no_hp;
            console.log(this.statusButton);
          },
          submitPhoto: function () {
            let file = this.$refs.photo.files[0];
            let formData = new FormData();
            formData.append('photo_profile', file);
            const config = {
              method: 'post',
              url: `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}/upload-photo-profile`,
              param: { _method: 'PUT' },
              data: formData,
            };
            axios(config)
              .then((response) => {
                this.clearForm();
                this.getDatas();
                this.statusButton = 'submit';
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
          },
          cancel: function () {
            this.clearForm();
            this.statusButton = 'submit';
          },
        },
      });
    </script>
  </body>
</html>
