<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <style>
      .input {
        margin-right: 20px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div v-if="!editBox">
        <input type="text" ref="title" v-model="input.name" />
        <input type="submit" value="add" @click="add(index)" />
      </div>
      <div v-else="edit">
        <input type="text" v-model="input.name" />
        <input type="submit" value="update" @click="update" />
      </div>

      <ol>
        <li v-for="(input,index) in inputs">
          <h3>{{input.name}}</h3>
          <button @click="edit(index,input)">Edit</button>
          <button @click="remove(index)">Delete</button>
        </li>
      </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          editBox: false,
          updateIndex: null,
          input: {},
          inputs: [
            {
              name: 'kurakura',
            },
          ],
        },
        methods: {
          add(index) {
            this.inputs.push(this.input);
            this.input = {};
          },
          remove(index) {
            this.inputs.splice(index, 1);
          },
          edit(index, input) {
            this.input = input;
            this.updateIndex = index;
            this.editBox = true;
            this.$refs.title.focus();
          },
          update() {
            this.inputs.splice(this.updateIndex, 1, this.input);
            this.input = {};
            this.editBox = false;
          },
        },
      });
    </script>
  </body>
</html>
