<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      input {
        width: 20%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="cari" placeholder="Cari Buku" />
      <ul v-for="buku in pencarian">
        <li>Buku:{{buku.book}}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          cari: '',
          books: [
            { book: 'Kalkulus Dasar' },
            { book: 'Fisika Dasar' },
            { book: 'Aljabar Linier Elementer' },
            { book: 'Aljabar Abstrak' },
            { book: 'Algoritma Pemograman' },
          ],
        },
        computed: {
          pencarian: function () {
            return this.books.filter((buku) => {
              return buku.book.toLowerCase().match(this.cari);
            });
          },
        },
      });
    </script>
  </body>
</html>
